.btn {
  background-color: transparent;
  border: 1px solid transparent;
  color: $brown-400;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  &-sm {
    padding: 0.1rem 0.5rem;
  }

  &-primary {
    color: $white;
    background: linear-gradient(180deg, #19a8e5 0%, #008fcc 100%);
    border-color: $primary;

    &:hover {
      color: $white;
      background: linear-gradient(180deg, #32b1e8 0%, #0281b7 100%);
    }

    & > .icon {
      stroke: $white;
    }
  }

  &-secondary {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
      color: $white;
      background-color: $secondary-hover;
    }
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $white;

    .btn {
      display: flex;
      width: 100%;
    }

    @media screen and (min-width: $breakpoint-desktop) {
      .btn {
        width: auto;
      }

      .btn:not(:last-child) {
        border-right: 1px solid $white;
      }
    }
  }
}
