.card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    min-width: 0;
    position: relative;
    word-wrap: break-word;

    &__caption {
        background: linear-gradient(#1ba9e7, #009fe3);
        color: $white;
        padding: .625rem .875rem;

        &:hover {
            background: linear-gradient(#3cb5ea, #0c85b9);
            color: $white;
        }
    }

    &__body {
        font-size: .75rem;
    }

    &__date {
        font-family: $font-family-light;
        font-size: 1.5rem;
    }

    small {
        font-size: .625rem;
    }
}
