.course {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;

  &__item {
    padding: 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $brown-300;
    }
  }

  &__img {
    width: 100%;
  }

  &__table {
    border-color: $brown-300;
    margin-bottom: 1rem;
    width: 100%;

    & > :not(caption) > * > * {
      padding: 0.5rem 0;
      vertical-align: top;
    }

    td:first-child {
      color: $brown-700;
    }

    td:last-child {
      color: $brown-500;
    }
  }

  &__accordion {
    margin-top: 1rem;

    & > a {
      display: block;
      margin-bottom: 1rem;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    .course__table {
      td:first-child {
        padding-right: 1.625rem;
        white-space: nowrap;
        width: 1%;
      }
    }
  }
}
