.history {
    display: flex;
    flex-wrap: wrap;

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        width: 100%;

        & > * {
            flex: 0 0 auto;
            width: 100%;
            max-width: 100%;

            @media screen and (min-width: $breakpoint-desktop) {
                width: 50%;
            }
        }

        & + & {
            @media screen and (min-width: $breakpoint-desktop) {
                margin-top: -2.4375rem;
            }
        }
    }

    &__picture {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1.25rem 1.25rem 1.25rem;
            border-color: transparent transparent $white transparent;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &--left {
            @media screen and (min-width: $breakpoint-desktop) {
                margin-right: -.8125rem;

                &::after {
                    border-width: 1.6875rem 1.6875rem 1.6875rem 0;
                    border-color: transparent $white transparent transparent;
                    top: 50%;
                    right: 0;
                    left: auto;
                    bottom: auto;
                    transform: translate(0, -50%);
                }
            }
        }

        &--right {
            &::before {
                background-color: $white;
                content: '';
                display: block;
                position: absolute;
                top: -.8125rem;
                left: -.8125rem;
                height: 100%;
                width: 100%;
                z-index: -1;
            }

            @media screen and (min-width: $breakpoint-desktop) {
                margin-left: -1.625rem;

                &::after {
                    border-width: 1.6875rem 0 1.6875rem 1.6875rem;
                    border-color: transparent transparent transparent $white;
                    top: 50%;
                    left: 0;
                    bottom: auto;
                    transform: translate(0, -50%);
                }
            }

        }
    }

    &__description {
        padding: 1.625rem;

        p {
            margin-bottom: 0;
        }

        p:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}
