.intro {
    height: 260px;
    position: relative;

    @media screen and (min-width: $breakpoint-tablet) {
        height: 511px;
    }

    &-bg {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;


        img {
            object-fit: cover;
            object-position: center;
            height: auto;
            width: 100%;
        }
    }

    &-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 1;
    }

    &-caption {
        background-color: $white;
        position: absolute;
        top: 6rem;
        left: 0;
        padding: .5rem 1rem;

        @media screen and (min-width: $breakpoint-tablet) {
            padding: .5rem 1rem .5rem 4rem;
        }

        @media screen and (min-width: $breakpoint-desktop) {
            padding: .5rem 1rem .5rem 8rem;
        }
    }

    &-title {
        font-family: $font-family-light;
        font-weight: 300;
        font-size: 1.5rem;

        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 1.75rem;
        }
    }

    &-text {
        font-family: Helvetica, sans-serif;
        font-size: .875rem;
    }
}

.arrow {
    background: linear-gradient(180deg, #19A8E5 0%, #008FCC 100%);
    border: 2px solid $white;
    border-radius: 50%;
    display: block;
    height: 2.25rem;
    transition: background .2s linear;
    width: 2.25rem;

    .icon {
        stroke: $white;
    }

    &:hover {
        background: linear-gradient(180deg, #32B1E8 0%, #0281B7 100%);
    }
}

.icon {
    stroke: #000;
    height: 1rem;
    margin: .5em;
    width: 1rem;
}
