.lessons {
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__img {
    margin-bottom: 1.5rem;
  }

  &__nav {
    display: flex;
    justify-content: center;

    &-inner {
      display: inline-flex;
      position: relative;
      align-items: center;

      &  > * {
        position: static;
      }
    }

    .swiper-pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__link {
    font-size: .875rem;
    position: relative;
    padding-left: 1rem;

    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNiAxNS40TDEwLjQgOC4xOTk5OUw1LjYgMS4zOTk5OSIgc3Ryb2tlPSIjMDA5ZmUzIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      height: .75rem;
      position: absolute;
      top: 2px;
      left: 0;
      width: .75rem;
      transition: all .25s ease-in-out;
    }

    &:hover::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNiAxNS40TDEwLjQgOC4xOTk5OUw1LjYgMS4zOTk5OSIgc3Ryb2tlPSIjMDE2Yjk5IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==")
    }
  }
}
