.swiper {
  height: 100%;
  width: 100%;

  &-button {
    &-prev, &-next {
      color: $primary;
      margin-top: 0;

      &::after {
        font-size: 1rem;
      }
    }
  }

  &-pagination-bullet-active {
    background-color: $primary;
  }
}
