@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC/GillSansLightC.eot');
    src: local('GillSansLightC'),
        url('../fonts/GillSansC/GillSansLightC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansC/GillSansLightC.woff') format('woff'),
        url('../fonts/GillSansC/GillSansLightC.ttf') format('truetype'),
        url('../fonts/GillSansC/GillSansLightC.svg#GillSansLightC') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC/GillSansC.eot');
    src: local('GillSansC'),
        url('../fonts/GillSansC/GillSansC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansC/GillSansC.woff') format('woff'),
        url('../fonts/GillSansC/GillSansC.ttf') format('truetype'),
        url('../fonts/GillSansC/GillSansC.svg#GillSansC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC/GillSansC-Italic.eot');
    src: local('GillSansC-Italic'),
        url('../fonts/GillSansC/GillSansC-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansC/GillSansC-Italic.woff') format('woff'),
        url('../fonts/GillSansC/GillSansC-Italic.ttf') format('truetype'),
        url('../fonts/GillSansC/GillSansC-Italic.svg#GillSansC-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC/GillSansC-Bold.eot');
    src: local('GillSansC-Bold'),
        url('../fonts/GillSansC/GillSansC-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GillSansC/GillSansC-Bold.woff') format('woff'),
        url('../fonts/GillSansC/GillSansC-Bold.ttf') format('truetype'),
        url('../fonts/GillSansC/GillSansC-Bold.svg#GillSansC-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Book/Futura-Book.eot');
    src: url('../fonts/Futura-Book/Futura-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Book/Futura-Book.woff') format('woff'),
        url('../fonts/Futura-Book/Futura-Book.ttf') format('truetype'),
        url('../fonts/Futura-Book/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaLight';
    src: url('../fonts/Futura-Book/Futura-Lig.eot');
    src: url('../fonts/Futura-Book/Futura-Lig.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Book/Futura-Lig.woff') format('woff'),
        url('../fonts/Futura-Book/Futura-Lig.ttf') format('truetype'),
        url('../fonts/Futura-Book/Futura-Lig.svg#Futura-Lig') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Rubl';
    src: url('../fonts/ALSRubl/ALSRubl.eot');
    src: local('ALSRubl'),
        url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSRubl/ALSRubl.woff') format('woff'),
        url('../fonts/ALSRubl/ALSRubl.ttf') format('truetype'),
        url('../fonts/ALSRubl/ALSRubl.svg#ALSRubl') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
