html,
body {
  height: 100%;
}

body {
  background-color: $brown-100;
  color: $brown-400;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  font-size: 16px;
}

.wrapper {
  flex: 1 0 auto;
  background-color: $white;
  max-width: 1153px;
  margin: 0 auto;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all .25s ease-in-out;

  &:hover {
    color: $link-color-hover;
  }

  &.arrow-link {
    position: relative;
    padding-left: .75rem;

    &::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNiAxNS40TDEwLjQgOC4xOTk5OUw1LjYgMS4zOTk5OSIgc3Ryb2tlPSIjMDA5ZmUzIiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==");
      background-repeat: no-repeat;
      background-size: 100%;
      content: '';
      display: block;
      height: .6rem;
      position: absolute;
      top: 1px;
      left: 0;
      width: .6rem;
      transition: all .25s ease-in-out;
    }

    &:hover::before {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNiAxNS40TDEwLjQgOC4xOTk5OUw1LjYgMS4zOTk5OSIgc3Ryb2tlPSIjMDE2Yjk5IiBzdHJva2Utd2lkdGg9IjIiLz4KPC9zdmc+Cg==")
    }
  }
}
