.img-fluid {
    height: auto;
    max-width: 100%;
}

// Text
.text-uppercase {
    text-transform: uppercase;
}

.text-nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.text-danger {
    color: $danger;
}

@media screen and (min-width: $breakpoint-desktop) {
    .text-lg-end {
        text-align: right;
    }
}

@media screen and (min-width: $breakpoint-desktop) {
    .column-lg-2 {
        columns: auto 2;
        column-gap: 20px;
    }
}


// Background
.bg-brown {
    background-color: $brown-300 !important;
}
.bg-brown-soft {
    background-color: $brown-200;
}

.bg-light {
    background: linear-gradient($light-100, $white 8%);
}


// Display
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}


// Margin
.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.25rem
}

.mb-2 {
    margin-bottom: 0.5rem
}

.mb-3 {
    margin-bottom: 1rem
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem
}

.mt-2 {
    margin-top: 0.5rem
}

.mt-3 {
    margin-top: 1rem
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-5 {
    margin-top: 3rem;
}

.me-0 {
    margin-left: 0;
}

.me-1 {
    margin-left: 0.25rem
}

.me-2 {
    margin-left: 0.5rem
}

.me-3 {
    margin-left: 1rem
}

.me-4 {
    margin-left: 1.5rem;
}

.me-5 {
    margin-left: 3rem;
}

.ms-0 {
    margin-right: 0;
}

.ms-1 {
    margin-right: 0.25rem
}

.ms-2 {
    margin-right: 0.5rem
}

.ms-3 {
    margin-right: 1rem
}

.ms-4 {
    margin-right: 1.5rem;
}

.ms-5 {
    margin-right: 3rem;
}


// Padding
.p-0 {
    padding: 0;
}

.p-1 {
    padding: 0.25rem
}

.p-2 {
    padding: 0.5rem
}

.p-3 {
    padding: 1rem
}

.p-4 {
    padding: 1.5rem;
}

.p-5 {
    padding: 3rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 0.25rem
}

.pb-2 {
    padding-bottom: 0.5rem
}

.pb-3 {
    padding-bottom: 1rem
}

.pb-4 {
    padding-bottom: 1.5rem;
}

.pb-5 {
    padding-bottom: 3rem;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 0.25rem
}

.pt-2 {
    padding-top: 0.5rem
}

.pt-3 {
    padding-top: 1rem
}

.pt-4 {
    padding-top: 1.5rem;
}

.pt-5 {
    padding-top: 3rem;
}

.pe-0 {
    padding-left: 0;
}

.pe-1 {
    padding-left: 0.25rem
}

.pe-2 {
    padding-left: 0.5rem
}

.pe-3 {
    padding-left: 1rem
}

.pe-4 {
    padding-left: 1.5rem;
}

.pe-5 {
    padding-left: 3rem;
}

.ps-0 {
    padding-right: 0;
}

.ps-1 {
    padding-right: 0.25rem
}

.ps-2 {
    padding-right: 0.5rem
}

.ps-3 {
    padding-right: 1rem
}

.ps-4 {
    padding-right: 1.5rem;
}

.ps-5 {
    padding-right: 3rem;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-5 {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}


// Order
.order-0 {
    order: 0;

    @media screen and (min-width: $breakpoint-desktop) {
        order: 1;
    }
}

.order-1 {
    order: 1;

    @media screen and (min-width: $breakpoint-desktop) {
        order: 0;
    }
}


// Flex
.align-center {
    align-items: center;
}

.align-top {
    vertical-align: top;
}

.justify-content-between {
    justify-content: space-between;
}


// List
.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Blob
.blob {
    background-image: url('../../assets/img/svg/blob.svg');
    background-repeat: no-repeat;
    height: 2.25rem;
    width: 2.75rem;

    &__inner {
        color: $white;
        height: 2.25rem;
        font-size: 1rem;
        width: 2.25rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

// Ration
.map {
    position: relative;
    width: 100%;

    &::before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
