// Section
.section {
    padding: 3.75rem 0 1.875rem;
    position: relative;
    overflow: hidden;

    &__title {
        font-family: $font-family-light;
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 1.25rem;

        @media screen and (min-width: $breakpoint-tablet) {
            font-size: 1.6875rem;
        }
    }

    &__subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .875rem;
    }

    &__text {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .75rem;
        font-weight: 500;
        line-height: 1.5;
    }
}
