.table {
    border-color: $brown-300;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: .75rem;
    margin-bottom: 1rem;
    vertical-align: middle;
    width: 100%;

    &-striped {
        tr > td {
            border-width: 0 !important;
        }
    }

    &-numbered {
        background-color: $brown-200;

        thead {
            background-color: $brown-300 !important;
        }

        > :not(caption) > * > * {
            border-width: 0 !important;
        }

        tr > td {
            border-width: 0 !important;

            h4 {
                margin-bottom: 1.5rem;
            }
        }
    }

    & > :not(caption)>* {
        border-width: 1px 0;
    }

    & > :not(caption)>*>* {
        border-width: 0 1px;
        padding: .85rem .75rem;
        line-height: 1.5;
    }

    & > thead {
        background-color: $brown-200;
        border-color: $brown-200;
        font-family: $font-family-light;
        font-size: 1rem;
        font-weight: 300;

        & > tr > th {
            border-top-width: 1px;
            border-top-color: $brown-300;
            border-bottom-width: 1px;
            border-bottom-color: $brown-300;
        }
    }

    &-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    & p {
        margin-bottom: 0;
    }
}

.table-borderless {
    background-color: $brown-200;

    & > :not(caption) > * > * {
        border-width: 0
    }
}
