h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: $font-family-light;
    font-weight: 300;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5, .h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

ul, ol {
    padding-left: 1rem;
}
