// Colors
$primary: #009fe3;
$secondary: #b8b1a8;
$secondary-hover: #96918b;
$white: #fff;
$danger: #ff0000;

$brown-100: #f1efeb;
$brown-200: #e6e2da;
$brown-300: #ccc2b8;
$brown-400: #484846;
$brown-500: #4c4c4c;
$brown-600: #807366;
$brown-700: #818085;
$brown-800: #a2988e;

$light-100: #f8f7f6;
$light-200: #e5e0db;


// Link
$link-color: #009fe3;
$link-color-hover: #016b99;


// Breakpoint
$breakpoint-tablet: 571px;
$breakpoint-desktop: 1001px;

$body-bg: $brown-100;
$body-color: $brown-400;

$font-family: Arial, Helvetica, sans-serif;
$font-family-light: 'FuturaLight', 'GillSansC' !default;
