p.error___p {
    color:red!important;
}

.success___p {
    color: green!important;
}

input.is___error, textarea.is___error {
    border: 1px solid red!important;
}

.is___process {
    opacity: 0.6!important;
}


.null___view {
    width: 0!important;
    height: 0!important;
    margin: 0!important;
    padding: 0!important;
    opacity: 0!important;
    visibility: hidden!important;
}


/* Запрет выделения */
.some___class {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


.team_country_button.active {
    text-decoration: underline;
}
